* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222f3e;
}

.header {
    margin-bottom: 2.4rem;
}

/* Navbar styling */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Styling for card */
.container {
    margin-top: 1rem;
    background: #222f3e;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.card-img-top {
    height: 20rem;
    object-fit: cover;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: #fff;
}


.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}


.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}




@media (max-width: 450px) {
    .header {
        margin-bottom: 6rem;
    }
    
    
}